.catalog {
    background: grey;
}

.catalog-wrapper {
    padding: 3em;
    height: 100%;

    grid-template-columns: 1fr 1fr 1fr;
    display: grid;
    align-items: center;
    justify-items: center;
    column-gap: 2em;
    row-gap: 2em;
}

.product {
    padding: 1em;

    background-color:darkgrey;
    width: 100%;
}

.product-heading {
    font-size: 2em;
    text-align: center;
    margin-bottom: 0.5em;
}

.product-image-wrapper {
    width: 100%;
}

.product-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}
.product-description {
    text-align: center;
    padding: 1em;
}
.btn {
    width: 100%;
    padding: 1em;
    border-radius: 5px;
    font-size: 1.5em;
}

.btn:hover {
    background-color: rgb(219, 219, 219);
    outline: black solid 1px ;
}

.btn:active {
    background-color: white;
    outline: rgb(0, 0, 0) solid 1px ;
}