.footer {
    background-color: khaki;
}

.footer-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.partner-logo {
    width: 20%;
}

.footer-nav {
}

.footer-anchor {
    display: block;
    padding: 0.5em;
}

.contacts a {
    display:block;
    padding: 1em;
}
