.home {
    height: 70vh;
    width: 100%;
    position: relative;
    background-color: rgba(0, 0, 0, 0.582);
    overflow: hidden;
}

.home-image {
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

.home-image img {
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;

}

.home-wrapper {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 10em;
}


.nav {
    color: lavender;
}

.nav ul {
    display: flex;
}

.header-anchor {
    color: white;
    font-size: 2em;
    display: block;
    padding: 1em 2em;
    transition: 0.2s;
}

.header-anchor:hover {
    color: grey;
}
.header-anchor:active {
    color: rgb(212, 212, 212);
}

.home-text {
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;

}

.home-text h1 {
    color: white;
    font-size: 9em;
    text-align: center;
}

@media (max-width: 1023px) {
    .home-text h1 {
        color: white;
        font-size:6em;                                                              
    }

    .header-anchor {
        color: white;
        font-size: 1.5em;
        display: block;
        padding: 1em 2em;
        transition: 0.2s;
    }

    .home {
        width: 100%;
        position: relative;
        background-color: rgba(0, 0, 0, 0.582);
        overflow: hidden;
    }

    .logo {
        width: 10%;
    }
}

@media (max-width: 750px) {

    .home-text h1 {
        color: white;
        font-size: 5em;
    }

    .header {
        display: block;
    }

    .logo {
        width: 8em;
    }
    
    .nav {
        display: none;
    }
}