.modal {
    top:0;
    left:0;
    height: 100vh;
    width: 100%;
    position: fixed;
    background-color: rgba(255, 235, 205, 0.596);

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-wrapper {
    width: 50em;
    height: 30em;
    background-color: rgb(41, 23, 23)
}

.modal-form {
    width: 80%;
    height: 100%;
    margin: 0 auto;
}

.modal-heading {
    margin: 0.5em auto;
    width: 80%;
    height: 3em;

    font-size: 3em;
    color: blanchedalmond;
    text-align: center;
}

.modal-input {
    display: block;
    margin: 2em auto;
    width: 80%;
    height: 3em;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin: 2em auto;
    width: 80%;
    height: 3em;

}

.buttons button {
    height: 100%;
    width: 30%;

}