.services {
    height: 30em;
    background-color: white;
}

.services-wrapper {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.service {
}
.service-image {
    height: 10em;
    width: 10em;
    border-radius: 50%;
    overflow: hidden;
}

.service-image img {
    object-fit: cover;
    width: 100%;
    height: 100%
}

.service-description {
    text-align: center;
}