.preload * {
    transition: none !important;
}

*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font: inherit;
	border: none;
}

:active, :hover, :focus {
    outline: 0;
    outline-offset: 0;
}

a, a:visited {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}



img, svg {
    vertical-align: top;
    max-width: 100%;
    height: auto;
}

ul {
    list-style: none;
}

body {
	background: #525151;
    position: relative;
}

.none {
	display: none !important;
}

.container {
    max-width: 1320px;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
}

